<!DOCTYPE html>

<html>
    <body>
        <h2>Chekout</h2>

        <form action="/transaction">
            <p>
                Following tickets are currently in shopping cart: <br>
                <ol>
                {% for item in items %}
                <li>Name: {{item.event.name}}
                    <ul>
                        <li>
                        quantity: {{item.amount}}
                        </li>
                    </ul>
                </li>
                {% endfor %}
                </ol>
                Total: {{totalsum}}% <br>
                Do you wish to buy these?
                <button type="submit" >Buy!</button>
                
            </p>
    </body>
</html>