<!DOCTYPE html>

<html>
    <h1>Ticketline</h1>

    <b>
        Welcome to Ticketline! Your number one place for buying tickets! </br>
        Now with extra security issues, and insane service fees!
    </b>
    </br>
    {% if admin %}

    {% elif user %}
    <a href="/logout">Log out</a>
    <a href="/checkout">To checkout</a>  
    <p>
        Logged in as {{username}} </br>
        You have currently {{balance}}$ on your account</br>
        Shopping cart ({{shoppingcart}})
        </br>
        Would you like to buy a ticket?
    </p>
    <ul>
        {% for event in events %}
        <li>
            <a href="buy/{{event.id}}">{{event.name}}</a>
        </li>
        {% endfor %}
    </ul>

    {% else %}
    <a href="/login">Log in</a>
    {% endif %}
</html>